<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn code online</title>
</head>
<body>
    <h1> welcome to lco iffe style of coding</h1>
    <p>this is iife style of writing code</p>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi a dignissimos sint quisquam exercitationem, cumque adipisci aliquam dolore iure, porro, qui dicta. Fugiat doloremque rerum laboriosam nobis quo. Praesentium nam rem voluptatem fuga, ducimus nostrum. Adipisci itaque impedit dolorum porro tempora veritatis, saepe expedita molestiae assumenda rem nulla dolores molestias! Voluptates ipsam molestiae soluta nisi harum veritatis, molestias cumque reprehenderit tenetur delectus excepturi alias expedita sequi distinctio voluptatum quaerat quis! Esse consectetur perferendis atque nulla voluptatum est culpa ullam repellendus qui inventore, sit excepturi necessitatibus hic error non repellat?</p>
    </div>
</body>
</html>